body{
    margin: 0;
    padding:0;
    background-color: rgb(240,240,240);
}
 #top{
     height: 40px;
     padding: 5px;
     background-color:rgb(85, 85,85);
     text-align: center;
     color:white;
     font-size:20px;
     font-family:黑体;
 }
 #center{
     height:600px;
     background-color:rgb(240,240,240);
 }
 #center p{
     font-size: 40px;
     position: relative;
     text-align: center;
     top:40px;
 }
 #footer{
     height:480px;
     padding: 5px;
     clear: both;
     background-color:rgb(85, 85,85);
     text-align: center;
 }
 #pic{
     margin: 0 auto;
     width:55%;
     height:550px;
     position: relative; 
     top:25px;
 }

 #footer p{
     color: white;
     padding:5px;
 }
 #footer h2{
     color: white;
 }
 #hr{
     position:relative;
     top:50px;
 }
 #img{
     position: relative;
     top:20px;
 }
#b_t{
     color:white;
     text-align: center;
     margin: 0 auto;
 }

#login{
    margin: 0 auto;
    width: 600px;
    height: 450px;
    background-color:rgb(250,250,250);
    position: relative;
    top:30px;
    padding-top: 10px;
}
#group {
    padding-left: 55px;
    font-family: 黑体;
    font-weight: bold;
}

#title{
text-align: center;
}
