body{
    margin: 0;
    padding:0;
    background-color: rgb(240,240,240);
}
 #top{
     height: 40px;
     padding: 5px;
     background-color:rgb(85, 85,85);
     text-align: center;
     color:white;
     font-size:20px;
     font-family:黑体;
 }
 #center{
     height:1080px;
     background-color:rgb(240,240,240);
 }
 #center p{
     font-size: 40px;
     position: relative;
     text-align: center;
     top:40px;
 }
 #footer{
     height:480px;
     padding: 5px;
     clear: both;
     background-color:rgb(85, 85,85);
     text-align: center;
 }
 #pic{
     float:right;
     width:80%;
     height: 800px;
     position: relative; 
     top:50px;
     right:30px;
 }

 #footer p{
     color: white;
     padding:5px;
 }
 #footer h2{
     color: white;
 }
 #hr{
     position:relative;
     top:50px;
 }
 #img{
     position: relative;
     top:20px;
 }
#b_t{
     color:white;
     text-align: center;
     margin: 0 auto;
 }

 .list li {float: left; display:inline; margin:5px;}

