/* 首页的样式 */

.main {
    width: 980px;
    height: 455px;
    margin: 10px 0 0 219px;
}

.focus {
    position: relative;
    width: 720px;
    height: 455px;
    background-color: purple;
}

.arrow-l,
.arrow-r {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 24px;
    height: 40px;
    background: rgba(0, 0, 0, .3);
    font-family: 'icomoon';
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    color: #fff;
}

.arrow-r {
    right: 0;
}